<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet" />







<header>

  <div class="brand">
    <div id="text" class="content">
      <h2>Project Fit</h2>
      <h2>Project Fit</h2>

    </div>
  </div>
  <div class="txt-goal">
    <p>Workout</p>
</div>


    <div class='stroke'>
      <p>Plan</p>
    </div>
 <nav class="navbar">

 <div class="navbar-wrapper">
<a class="burger-nav" ><i class="material-icons">menu</i></a>
 <div id="trapezoid">
          <p class="sub-home" ><span class='txt-nav'>Project Fit</span></p>
          <ul>
             <li><span (click)="gethome('')" class="expandHome">Home</span></li>
            <li><span  class="expandHome">About</span></li>
            <li><span class="expandHome">Top</span></li>
            <li><span class="expandHome">Portfolio</span></li>
            <li><span  class="expandHome">Price</span></li>
            <li><span  class="expandHome">Contact</span></li>

          </ul>
        </div>
      </div>

    </nav>

  </header>
