<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet"/>







<header>

  <div class="brand">
    <div id="text" class="content">
      <h2>Project Fit</h2>
      <h2>Project Fit</h2>
    </div>
  </div>
  <div class="txt-goal">
    <p>Goal</p>
</div>

  <div>


      <p class='txt'>Reach your goal </p>
      <p class='txt1'>at <span class='txt3'>Project Fit</span></p>

    </div>
    <div class='stroke'>
      <p>Fit</p>
    </div>

    <nav class="navbar">

 <div class="navbar-wrapper">
<a class="burger-nav" ><i class="material-icons">menu</i></a>
 <div id="trapezoid">
          <p class="sub-home" ><span class='txt-nav'>Project Fit</span></p>
          <ul>
             <li><span (click)="getBmi()" class="expandHome">Bmi</span></li>
            <li><span (click)="getPilates('/allworkout/workone')" class="expandHome">Pilates</span></li>
            <li><span (click)="getWorkout('/allworkout/worktwo')"class="expandHome"> Workout</span></li>
            <li><span  (click)="getWeights('/allworkout/workthree')"class="expandHome">Weights training</span></li>
            <li><span  (click)="getFcontact('/form/formcontact')"class="expandHome">Contact</span></li>


          </ul>
        </div>
      </div>

    </nav>

  </header>
