<div class="container" id="homeclass">


  <div class="mybox1" (click)='getRouteOne("/allworkout/workone")'>
    <div class="ribbon"><span>pilates</span></div>

    <div class=" box1">
      <div class="overlay"></div>
    </div>

  </div>


  <div class="mybox2" (click)='getRouteTwo("/allworkout/worktwo")'>
 <div class="ribbon"><span> workout</span></div>
    <div class=" box2">

      <div class="overlay"></div>
    </div>


  </div>

  <div class="mybox3" (click)='getRouteThree("/allworkout/workthree")'>
<div class="ribbon"><span>weights</span></div>
    <div class="box3">

      <div class="overlay"></div>
    </div>


  </div>

</div>