
<app-navcpilates></app-navcpilates>

     <app-timeworkout></app-timeworkout>
<section>

<div class="mycontainer" id='pilates'>



 <p class='headtxt'>12 Pilates Exercises That Really Work Your Core</p>
  <p class='alltxt'>

     Strengthening your core is one of the best things you can do for your overall fitness.
     A strong core—which includes your abs, obliques, and lower back muscles—helps keep your body balanced and stable, lets you maintain proper posture and exercise form, keeps your spine stable and safe, and overall, helps you move in a more controlled and efficient way.
     There are tons of ways to work your core (check out some great ideas here) but adding Pilates moves into your routine is a great way to engage your core muscles in a new way because everyone gets sick of doing planks after a while.

</p>
</div>

<div class="container">


    <div class="box">

    <img src="/assets/img/pilates_01.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <p class='txt'>Leg Circle</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
    <li>Lie faceup with your arms by your sides, palms down.</li>
    <li>Bend your left knee and place your left foot flat on the floor. Extend your right leg up so that it's perpendicular to the floor.</li>
    <li>Circle your right leg out to the side, down toward the ground, and return to your starting position. Make the circle as big as you can while still keeping your lower back on the floor</li>
    <li>Reverse the circle.</li>
    <li>Complete all reps one on leg, and then repeat on the other.</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>

    <div class="box">
    <img src="/assets/img/pilates_02.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
    <p class='txt'>The One Hundred</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <ul>
     <li>Lie faceup.</li>
     <li>Lift both legs up toward the ceiling and lower them halfway, so that they're at an angle.</li>
     <li>Curl your head up, reaching your arms long alongside your body, palms down.</li>
     <li>Pump your arms up and down as you inhale for 5 counts and exhale for 5 counts.</li>
     <li>Repeat this breathing pattern 10 times while holding the position.</li>
   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_03.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
  <p class="txt">Single Leg Stretch</p>
      </mat-panel-title>
        </mat-expansion-panel-header>
   <ul>
       <li>Lie faceup.</li>
       <li>Bring both knees in toward your chest, place your hands on your shins, and curl your head up off the floor.</li>
       <li>Extend one leg out at a time, alternating sides.</li>
       <li>Keep your lower back on the floor and your core engaged throughout.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_04.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Criss-Cross</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
       <li>Lie faceup and bring both knees in toward your chest.</li>
       <li>Place your hands on the back of your head, keeping your elbows wide. Curl your head up.</li>
       <li>Bring your left shoulder toward your right knee as you extend your left leg. Then bring your right shoulder toward your left knee as you extend your right leg.</li>
       <li>Continue alternating sides.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_05.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Double Leg Stretch</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
       <li>Lie faceup and bring both knees in toward your chest. Curl your head up and place your hands on your knees.</li>
       <li>Extend both legs out in front of you as you reach both of your arms overhead. Try to get your legs as straight as you can while still keeping your lower back on the floor.</li>
       <li>Circle your arms out and around back to your knees as you pull your knees back in toward your chest.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_07.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <p class="txt">Scissor Kick</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
 <ul>
       <li>Lie faceup.</li>
       <li>Extend your right leg up so that it's perpendicular to the floor. Bring your hands behind your right leg, pulling it in toward your face, and curl your head up. Lift your left leg of the floor a few inches.</li>
       <li>Switch legs, pulling your left leg in toward you and letting your right leg hover above the floor.</li>
       <li>Continue switching your legs.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_06.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Teaser</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
 <ul>
       <li>Lie faceup. Bend your knees over your hips and and lift your feet off the mat.</li>
       <li>Extend your legs as you reach your arms toward your feet and lift your head and shoulders off the mat. Try to create a V shape with your torso and legs.</li>
       <li>Hold for 5 breaths, and then roll onto your back bending your knees again.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_08.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Pendulum</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
       <li>Lie faceup with your arms extended out to your sides. Bend your knees over your hips and and lift your feet off the mat.</li>
       <li>Let both knees fall to the right, keeping your lower back on the floor.</li>
       <li>Return to starting position, and then repeat on the other side.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_10.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Plank Leg Lift</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
       <li>Start in a high plank with your hands directly under your shoulders.</li>
       <li>Alternate lifting one leg off the floor as high as you can but not past shoulder height.</li>
       <li>Keep your core, butt, and quads engaged to avoid rocking your hips.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_09.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Plank Rock</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <ul>
       <li>Start in a high plank with your hands directly under your shoulders.</li>
       <li>Rock your whole body forward a couple inches toward your hands and then backward toward your heels.</li>
       <li>Keep your core, butt, and quads engaged the entire time.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_11.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
         <p class="txt">Slow Motion Mountain Climber</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
  <ul>
       <li>Start in a high plank with your hands directly under your shoulders.</li>
       <li>Bring one knee in toward your chest at a time.</li>
       <li>Keep your core, butt, and quads engaged to avoid rocking your hips.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/pilates_12.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Hip Dip</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
       <li>Start in a side plank with your right hand directly underneath your right shoulder and your left foot stacked on top of the right.</li>
       <li>Dip your hips down toward the ground and then lift them back up.</li>
       <li>Repeat 10 times before switching to the left side.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>


</div>
</section>
<app-fitfooter></app-fitfooter>
