
<div class="container" >

    <div class="box" >
        <img class='img' src="./assets/img/homebest.jpg" alt="picture trainer">
    </div>
    <div class="box">
        <div class="txt">Home Workouts: More Effective Than the Gym?</div>
<hr class='linie' >
<hr class='linie1' >

        <div class="txt-txt" >

    <p>Going to the gym isn’t the only way to get in a great workout.
    Working out at home can be just as effective.
     While a gym provides a dedicated space,
  home workouts offer more flexibility and can be more efficient.
    It all depends on how you use your time and
    equipment to maximize your effort.
    Whatever you decide,
    you should choose what best suits your lifestyle and fitness goals.</p>





        </div>
<div class='button'routerLink="/homeinfo/infohome" ><span class='btn-txt'>More Info<i class="fa fa-arrow-up myicon" aria-hidden="true"></i></span></div>
    </div>
</div>
