
<div class="container-fluid mycontainer">
  <p class='txt'>Project Fit</p>
  <p class='txt2'>Fitness at Home</p>

 </div>
<section class="landing-page" >



   <div class="menu-btn"></div>





   <div class="overlay"></div>
   <div class="menu-container">

     <ul class="menu-wrapper">


       <li><p (click)="getHome('')">Home</p></li>
       

       <li><p (click)="getPilates('/allworkout/workone')">Pilates</p></li>
       <li><p (click)="getHomeworkout('/allworkout/worktwo')">Home Workout</p></li>
       <li><p (click)="getWeightsworkout('/allworkout/workthree')">Weights Workout</p></li>


       <div class='linie'></div>
       <li><p (click)="getContact('/form/formcontact')">Form Contact</p></li>

       <p class='project'>Project Fit</p>
     </ul>
     <div class="menu-underlay"></div>
 </div>


 </section>
