
section{
    height:2000px;


}


.container{

    position: relative;

    display:flex;
    justify-content: center;
    align-items: center;

   flex-wrap: wrap;

    width:90%;

    gap:30px;
}

.headtxt{
    position: relative;
    top:20px;

font-size: 30px;
    color:white;
    text-align: center;
    padding-bottom:20px;
}
.alltxt{

display:flex;
justify-content: center;
    color:white;
    font-size:17px;

     font-family:  cursive;



}
.alltxt ul li {
    list-style: none;
}
.box{

     width:400px;
     height:320px;
    margin:10px;

}
.img1{


    width:400px;
     height:320px;
     border-radius:5px;
}




//

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat{

    width:400px;
    z-index:8 ;
    background-color: grey;
}
.txt{
display: block;
margin:0 auto;
    color:white;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:1px;
}
ul,li{
    font-size:13px;
    color:white;
    list-style-type: disc;
}

@media screen and (max-width: 575px) {

section{
    height:4300px;


}



    .headtxt{

font-size:15px;

}
.alltxt ul li{



    font-size:12px;


}

.box{

    margin:30px;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

section{
    height:4300px;


}



    .headtxt{

font-size:25px;

}
.alltxt ul li{



    font-size:14px;


}



.box{

    margin:30px;
}





}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {

section{
    height:4300px;


}



    .headtxt{

font-size:35px;

}
.alltxt ul li{

position: relative;
top:10px;

    font-size:20px;
    line-height:25px;


}
.container{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.box{

    margin:30px;
}



}