<app-navcpilates></app-navcpilates>

<app-timeworkout></app-timeworkout>
<section>
<div class="mycontainer"id='workHome'>
 <p class='headtxt'>10 Moves to Make the Most of Your At-Home Workout</p>
  <div class='alltxt'>
      <ul>
          <li>If the idea of a home workout makes you yawn, think again!</li>
          <li>When executed correctly, using just your body weight can give you a run for your money.</li>
          <li>So, whether the gym isn’t your thing or you’re short on time, clear out a space in the living room and prepare to sweat.</li>
      </ul>

  </div>
</div>

<div class="container">


    <div class="box">
    <img src="/assets/img/p1.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <p class='txt'>Bridge</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
    <li>Activate your core and posterior chain (a fancy term for the backside of your body) with a bridge. This is a great exercise to use as a warmup.</li>
    <li>Lie on your back with your knees bent, feet flat on the floor, and your arms extended by your sides.</li>
    <li>Pushing through your feet and bracing your core, raise your bottom off the ground until your hips are fully extended, squeezing your glutes at the top.</li>
    <li>Slowly return to the starting position and repeat.</li>

    </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>

    <div class="box">
    <img src="/assets/img/p2.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
    <p class='txt'>Chair squat</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <ul>
     <li>Squat to strengthen your legs and core, which will make everyday movements easier. Starting with a chair underneath you will help you master proper form.</li>
     <li>Stand in front of the chair with your feet shoulder-width apart, toes pointed slightly out.</li>
     <li>Hinging at your hips and bending your knees, lower back and down until your bottom touches the chair, allowing your arms to extend out in front of you.</li>
     <li>Push up through your heels and return to the starting position.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/p3.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
  <p class="txt">Knee pushup</p>
      </mat-panel-title>
        </mat-expansion-panel-header>
   <ul>
      <li>A beginner-style pushup, this move will help you build strength before attempting a standard pushup.</li>
      <li>Get into a high plank position from your knees.</li>
      <li>Maintaining a straight line from your head to your knees, bend your elbows to lower yourself down to the ground. Keep your elbows at a 45-degree angle.</li>
      <li>Push back up to start.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/p4.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Stationary lunge</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
     <li>Hit your quads, hamstrings, and glutes with a stationary lunge.</li>
     <li>Split your stance with your right leg in front. Your right foot should be flat on the ground, and your left foot should be up on its toes.</li>
     <li>Bend your knees and lunge, stopping when your right thigh is parallel to the ground.</li>
     <li>Push up through your right foot to return to the starting position. Repeat for desired number of reps, then switch legs</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/p5.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Plank to Downward Dog</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
     <li>This move will test your upper body, especially your shoulders. Who says you need weights for a shoulder workout?</li>
     <li>Get into a high plank position, with your hands stacked underneath your shoulders and your feet close together.</li>
     <li>Keeping your core engaged and your hands and feet stationary, pike your hips up and back into the Downward Dog pose. Your body should form a triangle with the ground. Keep your neck neutral. Your gaze should be directed toward your feet.</li>
     <li>Hold here for a second, then return to the plank. Repeat.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/p6.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <p class="txt">Straight-leg donkey kick</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
 <ul>
      <li>Build those glutes with donkey kicks.</li>
    <li>Get on all fours, with your hands aligned with your shoulders and your knees aligned with your hips.</li>
      <li>Keeping your back straight, push your right foot out to the imaginary wall behind you while keeping your leg straight.</li>
      <li>Your foot should remain flexed (toes pointing down to the floor) throughout. Take care to keep your hips square to the ground. Squeeze your buttocks at the top.</li>
      <li>Return to the starting position. Repeat for the desired number of reps. Repeat on the other leg.</li>
   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/p7.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Bird Dog</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
 <ul>
   <li>A full-body move that requires balance and stability, the Bird Dog pose is easily scalable to your ability level. Start with this version if you’re a beginner.</li>
   <li>Get on all fours, ensuring your hands are directly underneath your shoulders and your knees are underneath your hips.</li>
   <li>Keeping your neck neutral, simultaneously extend your left arm and right leg, keeping your hips square to the ground. Pause here for 2 seconds.</li>
   <li>Return to the start position. Repeat with your right arm and left leg.</li>
   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/p8.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Forearm plank</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>

      <li>A full-body exercise that requires strength and balance, planks put the core into overdrive.</li>
      <li>Assume a plank position on your forearms. Your body should form a straight line from head to feet.</li>
      <li>Ensure your lower back and hips don’t sag.Hold the position for 30 seconds to 1 minute.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/p9.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Side-lying hip abduction</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>You may not think about strengthening your hip muscles until they start to bother you, but please reconsider!
This is especially the case if you sit all day. Counteracting that with hip-targeting movements will be very beneficial.</li>
      <li>Lie on your left side, with your left leg straight, right leg straight, and right foot resting on the ground.</li>
      <li>Lift your right leg up, maintaining the position of your body. Make sure your hips don’t open up.</li>
      <li>Return to the start position. Repeat for the desired number of reps, then do the other side.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/p10.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Bicycle crunch</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <ul>
     <li>Although you’ll work your core with almost all of these strength exercises, a targeted ab move doesn’t hurt.</li>
     <li>Lie on your back and bring your legs to a tabletop position. Bend your elbows, and put your hands behind your head.</li>
     <li>Crunch up and bring your right elbow to your left knee, straightening your right leg.</li>
     <li>Release the crunch slightly. Bend your right leg and straighten your left leg, then bring your left elbow to your right knee.</li>
     <li>Repeat for the desired number of reps.</li>
   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>



</div>
</section>
<app-fitfooter></app-fitfooter>
