section{
    height:2950px;


}

.container{



    display:flex;
    justify-content: center;
    align-items: center;

   flex-wrap: wrap;

    width:90%;

    gap:30px;
}

.headtxt{
position: relative;
top:10px;

font-size: 25px;
    color:white;
    text-align: center;
    font-weight:500;

}
.alltxt{
    position: relative;
    top:15px;
width:80%;
margin:0 auto;
    color:white;
    font-size:17px;

     font-family:  cursive;
     letter-spacing:1px;

}
.box{

     width:400px;
     height:250px;
    margin:30px;

}
.img1{


    width:400px;
     height:250px;
     border-radius:5px;
}




//

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat{

    width:400px;
    z-index:8 ;
    background-color: grey;
}
.txt{
display: block;
margin:0 auto;
    color:white;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:1px;
}
ul,li{
    font-size:13px;
    color:white;
    list-style-type: disc;
}

@media screen and (max-width: 575px) {

section{
    height:5750px;
}



    .headtxt{

font-size:15px;

}
.alltxt{



    font-size:12px;
    line-height:17px;

}

.box{

    margin:30px;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

section{
    height:5700px;
}




    .headtxt{

font-size:25px;

}
.alltxt{



    font-size:15px;
    line-height:25px;

}

.box{

    margin:30px;
}





}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {

section{
    height:5850px;
}



    .headtxt{
        position: relative;
        top:15px;

font-size:30px;

}
.alltxt{



    font-size:24px;
    line-height:35px;

}
.container{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.box{

    margin:30px;
}



}