
<app-navcpilates></app-navcpilates>

<app-timeworkout></app-timeworkout>
<section>
<div class="mycontainer" id='wheighs'>
 <p class='headtxt'>Best Dumbbell Exercises for Building Muscle</p>
  <p class='alltxt'>
Develop total-body strength and build maximum muscle mass with a simple set of dumbbells.
Whether you’re looking to expedite fat loss, develop total-body strength or build maximum muscle mass, the best dumbbell exercises tick every box – and often level up your cardio fitness at the same time.
A set of ’bells offers more variety than the equivalent weight in barbell form, and with no weight plates to fiddle with, you can get stuck in straight away. Plus, unlike their gym machine-based equivalents, the best dumbbell exercises recruit stabilising muscles and test your balance and control.

</p>
</div>

<div class="container">


    <div class="box">
    <img src="/assets/img/w1.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <p class='txt'>Goblet Squat</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
   <li>Muscles worked: Quads, calves, glutes, abs, arms and grip strength.</li>
   <li>How: Stand with feet set wider than shoulder-width and hold a dumbbell with both hands in front of your chest. Sit back into a squat, then drive back up and repeat.</li>
   <li>Why: Are you a nervous newbie or a long-time hard gainer? It doesn’t matter with this move. “Goblet squats are perfect for any level,” says Frost. “They specifically target glute activation whilst improving both hip and thoracic mobility.”</li>
   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>

    <div class="box">
    <img src="/assets/img/w2.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
    <p class='txt'>Arnold Press</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <ul>
 <li>Muscles worked: Deltoids, triceps, traps.</li>
 <li>How: Sit on a bench with dumbbells held in front of you, palms facing your shoulders as though you’ve just finished a bicep curl. Push the dumbbells up over your head while rotating your arms until your palms face away from you. Straighten your arms, pause, then reverse the movement.</li>
 <li>Why: If the fact that it was invented by Schwarzenegger himself wasn’t already reason enough, this potent upper-body move is unique in that it hits all three sections of your deltoid – the round-looking muscle that caps your shoulders – adding thickness and width, and reinforcing the joint.</li>
   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w3.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
  <p class="txt">Dumbbell Clean</p>
      </mat-panel-title>
        </mat-expansion-panel-header>
   <ul>
    <li>Muscles worked: Glutes, calves, quads, biceps.</li>
    <li>How: Flip your wrists so they face forwards and bring the weights to your shoulders, slightly jumping as you do. Slowly straighten your legs to stand. Then lower the weights down to your thigh before moving into squat position and repeating.</li>
    <li>Why: If you want to look like an Olympian, you’ve got to train like one. “Incorporating these powerlifter lifts into your training will not only build lean muscle tissue but also build explosive power,” says Frost. This move also rushes blood to your glutes, hamstrings, shoulders and arms to maximise your muscle-growing power.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w4.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Renegade Row</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Muscles worked: Traps, lats, rhomboids, delts, abs, obliques, biceps, triceps, forearms.</li>
      <li>How: Get into a press-up position with your hands on the handles of two dumbbells. Keeping your core tensed, row the right dumbbell up to your abs then return to the start position. Repeat with the left dumbbell to complete one rep.</li>
      <li>Why: Build a strong back, ignite your abs, and develop anti-rotational core strength in one fell swoop. While it’s tempting to focus on the ‘row’ aspect of the movement, the secret to getting the most out of this move is to double down on your plank positioning.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w5.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Farmers’ Walk</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
    <li>Muscles worked: Upper back, shoulders, triceps and biceps, forearms, abs, glutes, hamstrings, quads, adductors, abductors and calf muscles.</li>
    <li>How: Walk forward taking short, quick steps. Go for the given distance, as fast as possible.</li>
    <li>Why: For once, there’s no sophisticated form rules to worry about (except for ‘brace your core’. Always brace your core). And you’ll supercharge your grip strength, which is a serious plus. Additionally, this move fortifies your rotator cuffs, protecting your shoulders from injury during bigger lifts.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w6.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <p class="txt">Incline Dumbbell Flye</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
 <ul>
<li>Muscles worked: Delts, pecs, rhomboids, serratus anterior, rotator cuffs, biceps.</li>
<li>How: Lie down on a flat bench holding two dumbbells at your shoulders with your palms facing inwards. Press the dumbbells up until your arms are almost fully extended. This is your starting position. From here, with a slight bend in your arms, arc the weights down to your sides until you feel a stretch across your chest. Squeeze your pecs to return the weights to the start position by reversing the movement.</li>
<li>Why: Believe it or not, this move is better than the bench press for stimulating the chest muscle fibres that spark growth</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w7.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Bent-Over Row</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
 <ul>
    <li>Muscles worked: Lats, shoulders, forearms, biceps, spinal erectors, hamstrings, glutes.</li>
    <li>How: Keep your core tight and your back straight as you row the weights up to your chest. Lower and repeat.</li>
    <li>Why: “Rows will target several muscles in your upper body including the traps, rhomboids, lats and biceps perfect for getting you that ‘V’ shape,” says Frost.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w8.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Two-Arm Dumbbell Stiff Legged Deadlift</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
   <li>Muscles worked: Hamstrings, erectors, lats, glutes.</li>
   <li>How: Lower the dumbbells to the top of your feet, as far as you can go by extending through your waist, then slowly return to the starting position.</li>
   <li>Why: It shreds your legs into powerful pins by targeting your fast-twitch lower-body muscles.It’s one of the best free weight exercises to build up your lower body – injury free.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w9.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">One Arm Swing</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
       <li>Muscles worked: Glutes and hamstrings, abs, quads, shoulders.</li>
       <li>How: Sink into a squat and swing the dumbbell through your legs before immediately driving yourself forward, bringing the weight up towards your head as you straighten your legs. Repeat this movement, then swap sides.</li>
       <li>Why: With proper form, this swing will not only recruit muscles within your posterior chain but it will also build your grip strength, co-ordination, lower back muscles, quadriceps and shoulders.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w10.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Dumbbell Bench Press</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <ul>
      <li>Muscles worked: Pecs, shoulders, triceps, forearms, lats, traps, rhomboids.</li>
      <li>How: Lie on a flat bench holding two dumbbells over your chest with an overhand grip. Push up until your arms are straight, then lower under control.</li>
      <li>Why: If you’re looking to build quality pecs appeal then always opt for a dumbbell press over barbell. Why? A weight in each hands allows for a greater stretch at the bottom of the lift, building a bigger chest.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w11.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
         <p class="txt">Dumbbell Shoulder Press</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
  <ul>
<li>Muscles worked: Delts, traps, triceps, pecs, core.</li>
<li>How: Position your feet shoulder-width apart and stand holding two dumbbells at shoulder height with an overhand grip. Press the weights up above your head until your arms are fully extended. Return slowly to the start position.</li>
<li>Why: This compound move is essential for building strength, size and power.Be sure to brace your core throughout the full range of motion – protruding ribcages and arched backs are a no-go.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w12.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt"> Cross Body Hammer Curl</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
   <li>Muscles worked: Biceps, brachialis, forearms.</li>
   <li>How: One at a time, curl each weight up towards your opposing shoulder. Return under control to the start position and repeat on the other side.</li>
   <li>Why: To win the arms race, divide and conquer. Focusing on one arm at a time creates a large neural drive, which engages the nervous system to recruit more muscle fibres.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w13.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Step-ups</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
  <li>Muscles worked: Quads, hamstrings, glutes, core.</li>
  <li>How: Place your right foot onto the elevated platform and push up through your heel to lift yourself up and place your left foot on the platform. Step back down with your left foot, concentrating on flexing your hip and the knee of your right leg. Repeat on the other side.</li>
  <li>Why: It’s a sure-fire way to maximise your gluteus maximus, the major muscle responsible for extending, rotating and adducting and abducting from the hip joint.</li>
   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w14.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Incline Dumbbell Spider Curl </p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
  <li>Muscles worked: Biceps, triceps.</li>
  <li>How: Lie on an incline bench and hold a dumbbell in each hand, letting them hang underneath your shoulders. Use your biceps to curl the dumbbells towards your shoulders. Slowly return to starting position and repeat.</li>
  <li>Why: There are a few benefits. For one, with your arms hanging forward, you have a greater range of motion than your classic curl allows for.</li>
   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w15.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Dumbbell Scaption </p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
 <li>Muscles worked: Back, shoulders.</li>
 <li>How: Arc the weights up to your sides keeping your arms straight at all times until you feel a strong stretch across your shoulders. Return slowly to the start position.</li>
 <li>Why: Rotator cuff, shoulder impingement and tears are common issues from overuse exercises, but not if you use the scaption.</li>
   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>
    <div class="box">
    <img src="/assets/img/w16.gif" alt="" class='img1'>
<mat-accordion>
  <mat-expansion-panel class='mat' (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="txt">Dumbbell Lunge </p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
 <li>Muscles worked: Calves, abs, lower back.</li>
 <li>How: Stand with dumbbells at your side and palms facing your body. Lunge forward as far as you can with your right leg, bending your trailing knee so it almost brushes the floor. Use the heel of your right foot to push your upper body back to the starting position. Repeat with the opposite leg.</li>

   </ul>
  </mat-expansion-panel>
</mat-accordion>
</div>


</div>
</section>

<app-fitfooter></app-fitfooter>