




:host{
  display:block;
     background:#1C1D26;






}

section{


width:100%;


 height:900px;


}




.box {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top:30px;
  width: 50%;
  height: 80px;
  border: 1px solid white;
  text-align: center;

   backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);

    border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
  border-right: 1px rgba(40, 40, 40, 0.35) solid;


  .text1 {
    position: relative;
    bottom: 10px;
    width: 200px;
    height: 23px;
    padding-top: 2px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
  border-right: 1px rgba(40, 40, 40, 0.35) solid;
    background-color:#252630;
  }
  .text {
    position: relative;
    top: 10px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
  }

  input {
    background-color:#252630;
    width: 270px;
    outline: none;
    border: 1px solid white;
    color: white;
     backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);

    border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 1px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
  border-right: 1px rgba(40, 40, 40, 0.35) solid;

  }

  input::placeholder {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
  }

  input:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  .btn-btn {
        background-color:#252630;
    border: 1px solid white;

    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
    border-right: 1px rgba(40, 40, 40, 0.35) solid;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  .btn-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .add-btn {
    font-size: 12px;
    font-weight: 500;
  }
  .btn-info {
        background-color:#252630;
    border: 1px solid white;

    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
    border-right: 1px rgba(40, 40, 40, 0.35) solid;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }

  .btn-info:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .info-btn {
    font-size: 12px;
    font-weight: 500;
  }

  .mybox {
    position: relative;
    top: 20px;
  }
}

.container {



  display: flex;
  flex-direction: row;

  position: relative;
 top:30px;
  width: 50%;
  height:700px;
  border: 1px solid white;
  text-align: center;
background: #333333;

  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 1px rgba(255, 255, 255, 0.4) solid;

  border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
  border-right: 1px rgba(40, 40, 40, 0.35) solid;










  .example-container {
    position: relative;
    bottom: 5px;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;


  }

  .example-list {
    border: solid 1px #ccc;
   min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
    border-right: 1px rgba(40, 40, 40, 0.35) solid;
    margin: 3px;


  }

  .example-list:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .example-box {
    background-color:#252630;

    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;

    font-size: 14px;

    border: 1px solid white;

    color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
    border-right: 1px rgba(40, 40, 40, 0.35) solid;
    margin: 3px;





  }

  .cdk-drag-preview {

    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);


  }

  .cdk-drag-placeholder {

    opacity: 0;

  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  }

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

  }

  .mylist {
    color: white;
    font-weight: 400;
    text-decoration: line-through red;
    letter-spacing: 1px;
       font-size:11px;
  }

  .mytodo {

    color: white;
    font-weight: 400;
font-size:11px;
    letter-spacing:1px;

  }
  .txt-txt {
    position: relative;
    top: 12px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }



}
 .notification{
   position: relative;
   bottom:500px;
    z-index:4;
    display:block;
    margin:0 auto;
    text-align: center;
transition: 0.4s;


background-color: grey;
  border-radius: 5px;
  width:30%;
  height:160px;

  color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 1px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 1px rgba(40, 40, 40, 0.35) solid;
    border-right: 1px rgba(40, 40, 40, 0.35) solid;






  }





  .title{
    padding-top:20px;
    text-align: center;
    font-weight:900;
     font-size:18px;
    font-family:arial;
  }
  .icon{
    display:block;
    float:right;
    padding-right:7px;

    font-size:22px;
   color: #aaaaaa;

  }
  .icon:hover{
    color:black;
  }

 .deltxt {
  text-decoration: line-through red;
  text-decoration-color: red;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.info {
  text-align:center;
  padding-top:5px;
  color:black;
font-family: Arial;
  font-weight:800;
  font-size:15px;
}

@media screen and (max-width: 575px) {






  :host{
    display:block;
 overflow-x:hidden;




  }
  section{
    height:800px;
  }
  .box {
    width: 90%;
    .text1 {
      width: 120px;
      font-size: 11px;
    }
    input {
      width: 200px;
    }
    input::placeholder {
      font-size: 9px;
      letter-spacing: 0.5px;
    }
    .add-btn {
      font-size: 10px;
    }
    .info-btn {
      font-size: 10px;
    }
  }
  .container {
    width: 90%;
    height:620px;
    flex-direction: column;


    .example-container {
      width: 350px;

    }
    .txt-txt {
      font-size: 11px;
    }
  }

 .notification{
   width:80%;
position: relative;
   bottom:370px;

 }

 .title{

  font-size:14px;
 }
 .icon{
   font-size:16px;
 }
 .info{
   font-size:11px;
 }

}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
:host{
    display:block;
    overflow-x:hidden;


  }
section{
    height:830px;
  }

  .box {
    width: 90%;
    .text1 {
      width: 150px;
      font-size: 12px;
    }
    input {
      width: 250px;
    }
    input::placeholder {
      font-size: 11px;
    }
    .add-btn {
      font-size: 12px;
    }
    .info-btn {
      font-size: 12px;
    }
  }
  .container {
    width: 90%;
    height:650px;

    .txt-txt {
      font-size: 13px;
    }
  }


 .notification{
   width:80%;
position: relative;
   bottom:500px;

 }

 .title{

  font-size:16px;
 }
 .icon{
   font-size:18px;
 }
 .info{
   font-size:14px;
 }






}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
:host{
    display:block;
     overflow-x:hidden;


  }
section{
    height:850px;
  }

  .box {
    width: 90%;
    .text1 {
      width: 150px;
      font-size: 14px;
      padding-top: 1px;
    }
    input {
      width: 300px;
    }
    input::placeholder {
      font-size: 14px;
    }
    .add-btn {
      font-size: 14px;
    }
    .info-btn {
      font-size: 14px;
    }
  }
  .container {
    width:90%;
    height:650px;
  }

  .txt-txt {
    font-size: 15px;
  }

 .notification{
   width:80%;
position: relative;
   bottom:500px;

 }

 .title{

  font-size:18px;
 }
 .icon{
   font-size:19px;
 }
 .info{
   font-size:17px;
 }



}