
<div class=" mycontainer"id='bmi'>
    <div class="box mybox1">
<p class='txt'>Body Mass Index (BMI)</p>
<p class='txt1'>Body Mass Index (BMI) is a person’s weight in kilograms divided by the square of height in meters. A high BMI can indicate high body fatness. BMI screens for weight categories that may lead to health problems, but it does not diagnose the body fatness or health of an individual.</p>
<div class='button'routerLink="/info/infores"><span class='btn-txt'>More Info<i class="fa fa-arrow-up myicon" aria-hidden="true"></i></span></div>
    </div>
<div class="box">
<app-bpcalculator></app-bpcalculator>
</div>
</div>
