
<app-navbar></app-navbar>
<section>
<div class="container-fluid mycontainer">
    <p class='txt'>JUST GETTING STARTED, WEIGHT LOSS</p>


 <p class='txt1'>7 REASONS TO WORKOUT AT HOME </p>
 <p class='txt2'>INSTEAD OF THE GYM</p>

</div>



     <div class="mycontainer2">
<p class='txt3'>Let’s face it, there are times when we just can’t get to the gym for a workout.&nbsp; Maybe you have a little one at home, or have a tight schedule. Maybe you simply don’t want to deal with a busy gym and having to fight the crowds that always seem to grow as the colder weather moves in and the New Year’s resolution fitness crowd invades.<br>
Sounds like the perfect opportunity to workout at home and get fit in the comfort of your home gym.<br>
While some may struggle with adhering to working out at home, others are able to thrive and find they can take their workout routines to a whole new level.<br>
Let’s take a look the benefits of having your own home gym:</p><br>
<p class='txt4'>You’ll Save $</p><br>

<p class='txt3' >Depending on how much equipment you’ll need, working out at home should be a big money saver over the long haul.&nbsp; Many gyms not only require a monthly membership fee, but they also have additional costs for things such as group classes and personal training.<br>
With the popularity of bodyweight-only workouts, all you need is a little space and you can essentially workout for free!&nbsp; Many at-home exercise enthusiasts like to add some <a href="https://www.self.com/gallery/best-at-home-workout-equipment">multi-purpose equipment</a> like dumbbells, resistance bands, a yoga/stretching mat, or kettle bells. You can also pair those along with a cardio piece such as a treadmill, an elliptical, a bike, or a rower.&nbsp; While there’s obviously an initial cost for equipment like this, over time it will be cheaper than paying for a membership where you’re essentially renting equipment.</p><br>
<p class='txt4'>Time Saver</p><br>
<p class='txt3'>Not only can you choose workouts that best fit your schedule, you will also save time driving to and from the gym, checking in, changing in the locker room, waiting for equipment, etc.&nbsp; All of that often adds up to more time than your actual workout!<br>
You can literally roll out of bed and workout and have plenty of time for a good post-workout meal before you start your day.&nbsp; You could come home after work, grab a workout, and enjoy a dinner at home before relaxing for the evening. If you’re a stay-at-home parent or work from home, being able to grab a workout when you can is a huge bonus!</p><br>
<p class='txt4'>No Crowds</p><br>
<p class='txt3'>While most commercial gyms offer a nice variety of equipment, there’s also often a bunch of others who want to use it too.&nbsp; The winter months tend to be more crowded. If you’re a peak-time exerciser, not only will you fight the crowds in the gym, but you’ll often have to deal with them in the parking lot and in the locker room.<br>
Remember, gyms want (and need) to sell memberships, so if you’re not willing to deal with the potential crowds that can come along with your gym visits, than a home gym may be a much better fit for you.</p><br>
<p class='txt4'>Focus on Your Workout</p><br>
<p class='txt3'>There can be a lot of distractions at the gym. Everything from people wanting to chat to the “can you give me a spot” guy. Finding a spot in the gym to zone out and focus shouldn’t be harder than the workout itself.<br>
At home, no one should disturb you so you should be able to better focus on your workout routine and benefit from a more productive workout.</p><br>
<p class='txt4'>You Pick The Music</p><br>
<p class='txt3'>Music can be a very motivating factor when working out, and being at home allows you to listen to whatever you want and at the volume you want.&nbsp; And you don’t have to wear those annoying earbuds that keep wanting to fall out!<br>
You can even work out your core a little by belting out songs. Keep it light and fun!</p><br>
<p class='txt4'>Wear What You Want</p><br>
<p class='txt3'>We all know that fitness should be more important than looks, but the days that you don’t want to see anyone shouldn’t keep you from working out! At home, no one is going to care that you’re wearing last night’s t-shirt and some dirty sweatpants to work out. The only thing you have to worry about is getting some sweat on your brow.<br>
Working out at home allows you to wear whatever you want without being judged, stared at, or ridiculed.</p><br>
<p class='txt4'>Less Germs</p><br>
<p class='txt3'>There’s nothing worse than going to your favorite piece of equipment at the gym only to find the previous user left you a nice puddle of sweat.&nbsp; Commercial gyms are filled with germs, from the cardio equipment to the benches to the weights.<br>
At home, you at least know who has used the equipment and can control how clean you keep it.<br>
If you’re a regular gym goer, then that’s great and you should keep it up! But, if going to the gym is a huge barrier to your fitness, consider starting a home gym. Cater it to your needs and start off small so that you’re encouraged to use it.</p>
</div>
</section>
<app-fitfooter></app-fitfooter>
