<div class="footer">
  <div class="container-fluid  top-footer p-5">
    <div class="box">
      <div class="brand">
        <div id="text" class="content">
          <h2>Project Fit</h2>
          <h2>Project Fit</h2>
        </div>
<p class='mytxt'>WORKOUT COMPLETE™</p>


</div>
    </div>
  <div class="box ">
        <div class="links">
<p class='txt'>Quick Links</p>
<p class='txt-txt'(click)="getHome('')">Home</p>
<p class='txt-txt'(click)="getBmi('')">Bmi Calculator</p>
<p class='txt-txt'(click)="getScheduler('')">Workout Scheduler</p>
<p class='txt-txt'(click)="getPilates('/allworkout/workone')">Pilates</p>
<p class='txt-txt'(click)="getHomeworkout('/allworkout/worktwo')">Home Workout</p>
<p class='txt-txt'(click)="getWeightsworkout('/allworkout/workthree')" >Weights Exercises</p>
</div>
    </div>
    <div class="box ">
        <div class="links1">
<p class='txt'>Get In Touch</p>
<p class='txt-txt'(click)="getContact('/form/formcontact')">Form Contact</p>

<p class='txt-txt'>Contact by <a href="mailTo:dorian709@yahoo.co.uk"><i class="fa fa-envelope-o icon-icon" aria-hidden="true"></i></a></p>


</div>
    </div>





  </div>
  <div class="container2">
    <p class='container-txt'>--dorian709@yahoo.co.uk--</p>

 <div class="icons">
        <a href="https://www.facebook.com/" class='info1'><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/" class='info1'><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/?lang=en" class='info1'><i class="fa fa-twitter" aria-hidden="true"></i> </a>
        <a href="https://www.youtube.com/" class='info1'><i class="fa fa-youtube" aria-hidden="true"></i></a>
      </div>

  </div>
</div>